.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.message {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    height: 40vh;
}

a {
    color: green;
    text-decoration: none;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
}